.jeu {
  width: 100%;
  max-height: 50vh;
}

.infos{
  padding-top: 10vh;
  text-align: center;
  width: 100%;
  max-height: 50vh;
}

h1{
  color: aliceblue;
  font-family: SignPainter;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #dddddd;

  flex: 1;
  padding: 30px;
  /* Empêcher le footer de se superposer au contenu */


}
.left {
  text-align: left;
}

.right {
  text-align: right;
}
.col {
  flex: 1;
}

.ligne{
  display: flex;
  justify-content: space-between;
}
.snow{
  z-index: -1;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2000px;
  background: url("./ressources/images/neigequitombe.png");

  animation: fall 10s linear infinite;
}

@keyframes fall {
  0%{
    transform: translateY(-1000px);
  }
}

.clickable {
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.column {
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}
