.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    /* Appliquer ces styles pour les écrans jusqu'à 767 pixels de largeur */
    .row {
        flex-direction: column; /* Afficher les cartes en colonnes sur les petits écrans */
    }

    .column {
        margin-bottom: 16px; /* Ajouter un espace entre les cartes sur les petits écrans */
    }
}