/* card.component.css */

.card {
    cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  background-color: lightsteelblue;
}

.card:hover {
    transform: scale(1.05);
}

.card img {

    display: flex;
    margin-top: 15px;
    width: 25lh;
    height: 25vh;
}

.card-body {
  padding: 16px;
}

.card-title {
    font-family: SignPainter, serif;
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
    margin-bottom: 8px;
}
