<div class="row">
    <div class="column">
        <div class="titre">
            Consommation actuelle
        </div>
        <div class="contenu">
            ca devrait être aux alentour de 24kg/co2 par jour
        </div>
    </div>

    <div class="column">
        <div class="titre">
            Consommation 2050
        </div>
        <div class="contenu">

        </div>
    </div>

    <div class="column">
        <div class="titre">
            Consommation 2050
        </div>
        <div class="contenu">

        </div>
    </div>
</div>