<div class="row">
    <div class="column">
        <div class="titre">
            Emission actuelle
        </div>
        <div class="contenu">
            En France un habitant émet en moyenne l'équivalent de 6,1 tonnes de CO₂ annuel.
        </div>
    </div>

    <div class="column">
        <div class="titre">
            Emission visé en 2030
        </div>
        <div class="contenu">
            En France un habitant devrait émettre environ 2,3 tonnes de CO2 par personne par an d'ici 2030.
        </div>
    </div>

    <div class="column">
        <div class="titre">
            Emission visé en 2050
        </div>
        <div class="contenu">
            D'ici à 2050, pour limiter le réchauffement climatique à 1,5 °C, notre bilan carbone individuel annuel devra avoir été ramené à 2 tonnes.
        </div>
    </div>
</div>